<div class="navbar navbar-expand-sm navbar-light navbar-second">
  <%= link_to image_tag("logo.png"), root_path, class: "navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="nav-sec-item">
        <li>
          <%= link_to "Book a terrace", root_path, class: "nav-sec-link" %>
        </li>
      </div>
      <div class="nav-sec-item">
        <li>
          <%= link_to "Host a terrace", new_terrace_path, class: "nav-sec-link" %>
        </li>
      </div>
      <% if !user_signed_in? %>
        <div class="nav-sec-item">
          <li>
            <%= link_to "Sign up", new_user_registration_path, class: "nav-sec-link" %>
          </li>
        </div>
        <div class='nav-sec-item'>
          <li>
            <%= link_to "Log in", user_session_path, class: "nav-sec-link" %>
          </li>
        </div>
      <% else %>
        <li class="nav-item dropdown d-flex align-items-center ml-3">
          <% if @user.avatar.attached? %>
            <img src="<%= (url_for(@user.avatar)) %>" class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup=true aria-expanded=false >
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My bookings", bookings_path, class: "dropdown-item" %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <nav>
    <div class="nav nav-tabs onglets d-flex justify-content-center" id="nav-tab" role="tablist">
      <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">My terraces</a>
      <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">My bookings</a>
    </div>
  </nav>
</div>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

    <div class="container">
      <h2 class="mt-4"> List of your terraces</h2>

        <% @terraces.each do |terrace| %>
          <% if terrace.user_id == current_user.id %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(terrace.photo.key) %>')">
              <div class="text-booking">
                <h5><%= terrace.name %></h5>
                <p><strong><%= terrace.price_per_night %></strong> €</p>
                <p><em><%= terrace.description %></em></p>
                <p><%= terrace.address %></p>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>

  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

    <div class="container">
      <h2 class="mt-4"> List of your reservations </h2>

      <% @bookings.each do |booking| %>
        <% if booking.user_id == current_user.id %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(booking.terrace.photo.key) %>')">
            <div class="text-booking">
              <h5><%= booking.terrace.name %></h5>
              <p><em><%= booking.start_date %> –– <%= booking.end_date %></em></p>
              <p><strong><%= ((booking.end_date - booking.start_date).to_i) * booking.terrace.price_per_night %>€ </strong></p>
              <p><%= booking.terrace.address %></p>
              <div class="d-flex justify-content-center">
                <% j_minus = (booking.start_date - Date.today).to_i  %>
                <button type="button" class="mt-3 btn btn-outline-light btn-toggle-date" data-toggle="popover" data-placement="right"
                data-content=" <% if booking.start_date > Date.today %>
                                    J - <%= j_minus  %> days !
                                <% elsif %>
                                  <% booking.start_date < Date.today && Date.today < booking.end_date %>
                                  <%= "happening .." %>
                                <% else %>
                                  <%= "already done, hope you enjoyed your stay !" %>
                                <% end %>">

                  <i class="far fa-clock"></i>
                </button>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>











