<h2> Disponibilités pour la terrasse <%= @terrace.name %></h2>
<h4>Prix: <%= @terrace.price_per_night %>€<h4>
<br>
<%= simple_form_for [@terrace, @booking] do |f|  %>
  <%= f.input :start_date, as: :date%>
  <%= f.input :end_date, as: :date %>
  <%= f.submit 'Prendre le soleil au calme', class: 'btn btn-primary' %>
  <% end %>
