<div class= "banner">
  <div class="navbar navbar-home navbar-expand-sm navbar-light fixed-top">
    <%= link_to image_tag("logo.png"), root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Host a terrace", host_path, class: "nav-link" %>
        </li>
        <% if !user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log in", user_session_path, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My bookings", bookings_path, class: "dropdown-item" %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <%= image_tag "Background.jpg", class: "img-background" %>

  <div class="container">
    <div class="row">
      <div class="col-sm-4 offset-sm-4">
        <div class="card search">
          <div class= "d-flex justify-content-center">
            <h2>Book unique terraces to enjoy</h2>
          </div>
            <%= simple_form_for :terrace, url: terraces_path, method: :get do |f| %>
              <%= f.input :address, name: "search[query]" %>
              <div class= "d-flex justify-content-center">
              <%= f.submit 'search', class: 'btn btn-primary' %>
            </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
