<div class= "banner">
  <div class="navbar navbar-home navbar-expand-sm navbar-light fixed-top">
    <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Host a terrace", host_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log in", user_session_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>


  <%= image_tag "Background.jpg", class: "img-background" %>
</div>
