<div class="navbar navbar-expand-sm navbar-light navbar-second">
  <%= link_to image_tag("logo.png"), root_path, class: "navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <% if !user_signed_in? %>
          <li class="nav-sec-item">
            <%= link_to "Host a terrace", user_session_path, class: "nav-sec-link" %>
          </li>
        <% else %>
          <li class="nav-sec-item">
            <%= link_to "Host a terrace", new_terrace_path, class: "nav-sec-link" %>
          </li>
        <% end %>
      <% if !user_signed_in? %>
        <div class="nav-sec-item">
          <li>
            <%= link_to "Sign up", new_user_registration_path, class: "nav-sec-link" %>
          </li>
        </div>
        <div class='nav-sec-item'>
          <li>
            <%= link_to "Log in", user_session_path, class: "nav-sec-link" %>
          </li>
        </div>
      <% else %>
        <li class="nav-item dropdown d-flex align-items-center ml-3">
          <% if @user.avatar.attached? %>
            <img src="<%= (url_for(@user.avatar)) %>" class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup=true aria-expanded=false >
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My bookings", bookings_path, class: "dropdown-item" %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container-sm">
  <h2 class="mt-3">Find your sunny terrace</h2>
  <div class="row">

    <div class="col-sm-7">
      <div class="row">
      <% @terraces.each do |terrace| %>
        <div class="col-sm-4">
          <div class="card terrace my-3">
            <div style="width: 200px; height: 200px;">
              <%= cl_image_tag terrace.photo.key, class: "card-img-top terrace" %>
            </div>
            <div class="card-body terrace">
              <h5 class="card-title terrace"><%= link_to terrace.name, terrace_path(terrace) %></h5>
              <p class="card-text"><%= terrace.description %></p>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>

    <div class="col-sm-5">
      <div
        id="map"
        class="bg-map"
        style="width: 100%;
        height: 95vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>

  </div>
  <div class =" mt-5 mb-5 d-flex justify-content-center">
  <%= link_to 'Back research', root_path, class: 'btn btn-sm btn-outline-primary' %>
  </div>
</div>
