<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <h2>new terrace</h2>
      <%= simple_form_for [ @user, @terrace ] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :photo, as: :file %>
        <%= f.input :address %>
        <%= f.input :status %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
