<div class="navbar navbar-expand-sm navbar-light navbar-second">
  <%= link_to image_tag("logo.png"), root_path, class: "navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="nav-sec-item">
        <li>
          <%= link_to "Host a terrace", host_path, class: "nav-sec-link" %>
        </li>
      </div>
      <% if !user_signed_in? %>
        <div class="nav-sec-item">
          <li>
            <%= link_to "Sign up", new_user_registration_path, class: "nav-sec-link" %>
          </li>
        </div>
        <div class='nav-sec-item'>
          <li>
            <%= link_to "Log in", user_session_path, class: "nav-sec-link" %>
          </li>
        </div>
      <% else %>
        <li class="nav-item dropdown d-flex align-items-center ml-3">
          <% if @user.avatar.attached? %>
            <img src="<%= (url_for(@user.avatar)) %>" class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup=true aria-expanded=false >
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My bookings", bookings_path, class: "dropdown-item" %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

</div>

<div class="container">
  <h2><%= @terrace.name %></h2>

  <div class="d-flex justify-content-center">
    <%= cl_image_tag @terrace.photo.key, class: "img-terrace" %>
  </div>

  <div id="wrapper">
    <div class="host-name">
      <h4><%= @terrace.user.name %></h4>
    </div>

    <div class="description">
      <%= @terrace.description %>
      <br>
      <br>
    </div>

    <div class="address">
      <em><%= @terrace.address %></em>
    </div>

<!-- TEST AVAILABILITY -->
      <div class="check-dispo">
        <%= link_to 'Book this terrace', new_terrace_booking_path(@terrace), class: "btn btn-lg btn-primary" %>
      </div>
  </div>

</div>

<div class =" mt-5 mb-5 d-flex justify-content-center">
  <%= link_to 'Back to the list', terraces_path, class: 'btn btn-sm btn-outline-primary' %>
</div>
